// Custom.scss
$border-radius: 10pt;
$btn-padding-x: 1.625rem;
$link-color: #db5461;

$theme-colors: (
	'primary': #564787,
	'secondary': #ffd972,
	'danger': #db5461,
	'dark': #5a5b59,
	'light': #ffffff,
	'alert': #fde441,
	'info': #04bbfa,
	'success': #14cd6f,
);

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
